.publication-section
{
    padding-left:3%;
}

.publication-webpage
{
    padding-left:2%;
    padding-bottom: 1.5em;

    font-size:18pt;
    color: #31516A;

}

.publication
{
    padding-left:2%;

}